@import 'tailwindcss';
@import 'pretendard/dist/web/variable/pretendardvariable.css';

@plugin "daisyui" {
  themes: forest --default;
}

@theme {
  --font-sans:
    'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Segoe UI', sans-serif;
}

body {
  font-family: var(--font-sans);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
